<h1>About page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit nobis ullam laboriosam voluptates at! Quis maxime, vitae repellat temporibus porro ex. Unde at in impedit, excepturi cum nobis repudiandae eligendi!</p>

<p>Today is the <strong><%= Date.today.strftime("%d %B") %></strong></p>
